<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melody Library</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/semantic/dist/semantic.min.css') }}"/>
</head>
<body>
<h1>Index Page</h1>
</body>
<script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='components/semantic/dist/semantic.min.js') }}"></script>

</html>