<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="个人音乐世界"/>
    <meta name="keywords" content="音乐,旋律,旋律书馆"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>旋律藏书馆</title>

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}"/>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='components/semantic/dist/semantic.min.css') }}"/>-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <style>
    </style>
</head>
<body>

<div id="wrapper">
    <div id="info">
        <div id="info-content">
            <p>沉静如雪, 深邃似海, 磅礴如山, 壮阔似河</p>
            <h1><strong>Melody Library</strong> 旋律 - 书馆</h1>
            <p>因为热爱</p>
        </div>
    </div>
</div><!-- #wrapper -->


</body>

</html>